.onebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onebtn .onebtn-inner:hover {
  background-color: #312FED;
}

.onebtn .onebtn-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2624D9;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.onebtn .onebtn-input-wrapper {
  display: flex;
}

.onebtn .onebtn-input-wrapper input {
  background: rgba(0,0,0,0);
  border: none;
  color: white;
  font-family: inherit;
  outline: none;
  padding-left: 10px;
}
.onebtn .onebtn-input-wrapper input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.onebtn .onebtn-input-wrapper input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.5);
}
.onebtn .onebtn-input-wrapper input::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255,255,255,0.5);
}
.onebtn .onebtn-input-wrapper input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}


.onebtn .onebtn-input-icon {
  padding-left: 10px;
}

.onebtn .onebtn-preview {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.onebtn .onebtn-hidden {
  display: none;
}

.onebtn .onebtn-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onebtn-icon-subtle {
  opacity: 0.8;
}
